@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(50, 8, 8);

  padding-top:2rem;
  overflow-x:hidden;
  background: url("./bg.jpg");
  background-size:cover;
}

.container {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 2rem;
}

h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}

.todo-list {
  width: 500px;
  background: rgba(255, 255,255, 0.2);
  padding: 30px;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 3px rgba(0,0,0,0.2);
}

.todo-list h2 {
  font-size:  2.2rem;
  color: #002765;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding-left: 20px;
  margin: 30px 0;
  width: 95%;
  margin-inline: auto;
}

input{
  color:rgb(50, 8, 8);
  font-size: 17px;
  font: "Montserrat", sans-serif;
  width: 100%;
  flex: 1;

  border: none; outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
  border-bottom: 1px solid rgb(113, 64, 111);
}

input::placeholder{
  color:#808080, .55;
}

button {
  border: none; outline: none;
  padding: 12px 30px;
  background-color: purple;
  color: white;
  font: 1rem;
  cursor: pointer;

  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul li{
  font-weight: 700;
  list-style: none;
  font-size: 15px;
  padding: 10px 30px;
  width: 80%;
  min-height: 50px;
  margin: 0 auto;
  border-radius: 5rem;
  word-wrap: break-word;
    

  cursor: pointer;
  position: relative;
  background: rgba(255, 255, 255, 0.5);

  display:flex;
  align-items: center;
  transition: .2s ease-in-out
}

ul li.checked {
  color: rgba(255, 0, 0, 0.564);
  text-decoration: line-through;
}

ul li span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  line-height: 40px;
  text-align: center;
}

