@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/pf-tempesta-seven');
@import url('https://fonts.cdnfonts.com/css/pixantiqua');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(11, 7, 57);
  padding-top: 2rem;
  overflow-x: hidden;
  background: url("./8351171.gif") no-repeat center center fixed;
  background-size: cover;
}

.container {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

h1 {
  font-family: "Pixantiqua", sans-serif;
  font-size: 60px;
}

.todo-list {
  width: 500px;
  background: rgba(63, 54, 193, 0.8);
  padding: 30px;
  border-radius: 0.5rem;
  box-shadow: 8px 8px 5px 3px rgba(8, 9, 39, 0.2);
  background-color: rgba(105, 88, 215, 0.388);
}

.todo-list h2 {
  font-size: 2.2rem;
  color: rgb(11, 7, 57);
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 30px 10px;
  width: 95%;
  border-bottom: 0;
}

input {
  color: rgb(11, 7, 57);
  font-size: 25px;
  font-family: 'PF Tempesta Seven', sans-serif;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  border-bottom: 1px solid rgb(11, 7, 57);
  ;
}

input::placeholder {
  color: #bad5ff;
  font-family: 'PF Tempesta Seven', sans-serif;
  font-size: 20px
}

button {
  border: none;
  outline: none;
  font-family: 'PF Tempesta Seven', sans-serif;
  margin-top: 10px;
  padding: 12px 30px;
  background-color: rgb(11, 7, 57);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'PF Tempesta Seven', sans-serif;

}

ul li {
  font-weight: 700;
  font-size: 15px;
  padding: 10px 20px;
  width: 100%;
  min-height: 50px;
  border-radius: 5rem;
  word-wrap: break-word;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
  font-family: 'PF Tempesta Seven', sans-serif;

}

ul li.checked {
  color: rgba(5, 22, 53, 0.564);
  text-decoration: line-through;
}

ul li .task-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

ul li .task-text span {
  font-size: 0.9rem;
  color: rgb(11, 7, 57);
}

ul li .task-date-time {
  font-size: 0.8rem;
  color: rgb(11, 7, 57);
  text-align: right;
  margin-left: 1rem;
}

ul li .fa-trash {
  font-size: 1.4rem;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  body {
    margin-top: 5rem;
  }
  .todo-list {
    width: 90%;
  }
  h1 {
    font-size: 15vw;
  }
  ul li {
    width: 100%;
    padding: 10px
  }
}

.datetime-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="date"],
input[type="time"] {
  font-family: 'PF Tempesta Seven', sans-serif;
  font-size: 15px;
  padding: 5px;
  border: 2px solid rgb(11, 7, 57);
  border-radius: 5px;
}

h4 {
  font-family: 'PF Tempesta Seven', sans-serif;
  font-size: 20px;
}
